/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Hero */

.hero {
    position: relative;
    top: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 77%;
    color: white;
    overflow: hidden;
    font: 18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 200%;
    box-sizing: border-box;
    overflow: hidden;
}

.hero > * {
    margin: 3px;
}

.hero img {
    position: absolute;
    max-width: 100%;
    top: -290px;
    background-position: bottom;
    z-index: -1;
}

.hero h1 {
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

/* Navigation  */

nav {
    position: absolute;
    top: 100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    color: white;
}

nav button {
    width: 102px;
    height: 36px;
    border: 1px solid black;
    color: white;
    background: linear-gradient(
        rgb(153, 149, 149) 0%,
        rgb(110, 110, 110) 45%,
        rgb(80, 80, 80) 50%,
        rgb(120, 120, 120) 98%
      );
      border-radius: 3px;
      box-shadow: 0.5px 0.5px 1px 0.2px rgb(58, 57, 57);
}

button:hover {
    /* background: rgba(0,0,0,0.4); */
    background-color: grey;
    
}

nav img {
    max-height: 100%;
    max-width: 100%;
}

/* Promotion images */

.promos {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.promos > img {
    padding: 0px;
    border: 0;
    max-width: 25%;
    height: 200px;
    margin-left: 2px;
}

/* footer */

footer {
    /* position: absolute; */
    height: 50px;
    width: 100%;
    bottom: 0;
    /* padding-top: 30px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 0.8334em;
}

footer a {
    color: #08c;
    text-decoration: none;
}

footer .links {
    grid-column: 2 / -1;
    justify-self: start;
}

.links li {
    display: inline;
}
